/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-family: 'Inter', sans-serif;
     background-color: #f9f9f9;
     font-size: 10px;
     color: #333333;
     overflow: auto;
}
h1 {
     font-size: 2.6rem;
}
h2, h3 {
     font-size: 1.5rem;
}
ul {
     margin-top: -8px;
}
li {
     line-height: 1.5;
     color: #b42373;
     font-weight: 600;
}
span {
     font-size: 1.1rem;
}
p, li {
     font-size: 1.2rem;
}
a, a:visited {
     color: #4c2c92;
}


/******************************************
/* LAYOUT
/*******************************************/
header, header > div, .hero, .column, .article {
     display: flex;
     align-items: center;
}
header, .menu {
     position: relative;
}

header {
     height: 60px;
     justify-content: space-between;
}
header, .threeColumn, .articles {
     padding: 0 30px;
}
.mobileMenuContainer {
     position: fixed;
     display: none;
     height: auto;
     top: 60px;
     width: 100vw;
     left:0;
     background: rgba(249, 249, 249, 0.95);
     text-align: center;
}
.menu {
     margin: 0;
     top: 50%;
     list-style: none;
     text-decoration: none;
     z-index: 2;
     padding: 5px 0 5px 0;
}
.menu, .menu a {
     display: block;
}
.menu a {
     text-decoration: none;
     line-height: 3;
}
.menu a:hover, .menu a:active, .articles {
     background: #f1e8fd;
}
.menu a:hover, .menu a:active, .heroHeader2 {
     border-bottom: 1px solid #f9f9f9;;
     border-top: 1px solid #f9f9f9;;

}
.menuLogo {
     display: inline;
}
.circle {
     margin-right: 15px;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background: #b42373;
}

/************* Sandwich Menu *************/
.sandwichContainer {
     display: inline-block;
     cursor: pointer;
   }
   
   .bar1, .bar2, .bar3 {
     width: 35px;
     height: 4px;
     background: #333333;
     margin: 6px 0;
     transition: 0.4s;
   }
   
   .change .bar1 {
     -webkit-transform: rotate(-45deg) translate(-9px, 6px);
     transform: rotate(-45deg) translate(-7px, 6px);
   }
   
   .change .bar2 {opacity: 0;}
   
   .change .bar3 {
     -webkit-transform: rotate(45deg) translate(-8px, -8px);
     transform: rotate(45deg) translate(-8px, -8px);
   }


/************* Main Content *************/
.hero, .donateInvolve, .donateInvolve a {
     color: #f9f9f9;
}
.hero, .column, .article {
     flex-direction: column;
}
.hero, .donateInvolve {
     background: #4c2c92;
}
 .hero {
     padding: 3% 35px 5% 35px;
}
.heroHeader2 {
     margin-top: 0px;
     margin-bottom: 10px;
     padding: 25px 0;
     line-height: 1.7rem;
}
.threeColumn {
     padding: 35px 35px 15px 35px; 
 }
 .column {
     margin-bottom: 20px;
     padding: 20px 0;
     border-bottom: 1px solid lightgrey;
 }
 .column:last-of-type {
     border-bottom: none;
 }
 .midH2 {
     margin-bottom: -10px;
 }
 .midDesc {
     margin-bottom: 25px;
 }
 .icon {
     width: 30%;
 }
 .articles {
     padding: 20px 35px 20px 15px; 
 }

 .article {
     background: #f9f9f9;
     margin: 20px 10px;
     justify-content: center;
     width: 100%;
     padding: 40px 30px 50px 30px;
     border-radius: 20px;
     box-shadow: 0px 0px 7px rgb(187, 187, 187);
 }
 .article ul {
     padding-left: 15px;
     padding-right: 10px;
}
 .articleImg {
     width: 100%;
 }
.donateInvolve {
     padding: 10px 35px 30px 40px;
}
.donInv {
     padding: 10px 0 0 0;
}
.donInv:first-of-type {
     border-bottom: 1px solid #f9f9f9;
     padding-bottom: 30px;
}
footer {
     text-align: center;
     font-weight: 600;
     padding: 15px 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media (min-width:640px) {
     .articleImg {
          width: 60%;
     }
}

@media (min-width:1200px) {
     body {
          background: #f1e8fd;
     }
     header, footer, .column {
          background: #f9f9f9;
     }
     .menu {
          list-style-type: none;
          margin: 0;
          padding: 0;
     }
     .menu, .menu li {
          display: inline;
     }
     .menu, .menu a:hover {
          background: none;
     }
     .menu, .mobileMenuContainer {
          position: unset;
     }
     .menu li {
          margin: 0 15px;
          font-size: 1.1rem;
     }
     .menu a {
          color: #41257c;
          font-weight: 600;
     }
     .menu a, .mobileMenuContainer {
          display: inline-block;
     }
     .menu a:hover {
          color: #b42373;
     }
     .mobileMenuContainer {
          height: auto;
          width: auto;
          left: auto;
     }
     .sandwichContainer {
          display: none;
     }
     .hero {
          text-align: center;
          padding: 3% 300px 5% 300px;
     }
     .threeColumn {
          display: flex;
          padding: 0px 35px; 
          margin: 20px 10px -30px 10px;
     }
     .column {
          margin: 20px 10px;
          padding: 40px 30px 50px 30px;
          border-radius: 20px;
          box-shadow: 0px 0px 7px rgb(187, 187, 187);
          justify-content: center;
     }
     .column, .article {
          width: 33%;
     }
     .articles, .donateInvolve {
          display: flex;
     }
     .articles {
          padding: 0 35px 20px 35px; 
          flex-direction: row;
          margin: 10px;
     }
     .articleImg {
          width: 380px;
     }
     .article ul {
          list-style-position: outside;
          padding-left: 30px;
     }
     .donInv {
          width: 50%;
          padding: 30px 80px;
     }
     .donInv:first-of-type {
          border-bottom: none;
          padding-bottom: 0;
     }
}